/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #853894;
  --ifm-color-primary-dark: #783285;
  --ifm-color-primary-darker: #71307e;
  --ifm-color-primary-darkest: #5d2768;
  --ifm-color-primary-light: #923ea3;
  --ifm-color-primary-lighter: #9940aa;
  --ifm-color-primary-lightest: #aa4dbc;
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #af8ee1;
  --ifm-color-primary-dark: #9a71d9;
  --ifm-color-primary-darker: #9062d5;
  --ifm-color-primary-darkest: #7137ca;
  --ifm-color-primary-light: #c4abe9;
  --ifm-color-primary-lighter: #cebaed;
  --ifm-color-primary-lightest: #ede5f8;
}
